<div class="container flex align-content-center justify-content-center flex-wrap">
    <div class="box flex align-content-center justify-content-center flex-wrap flex-column">
        <div>
            <div>
                <h5>Username</h5>
            </div>
            <div>
                <span class="p-input-icon-left">
                    <i class="pi pi-user"></i>
                    <input type="text" pInputText placeholder="Username">         
                </span>
            </div>
            <div>
                <h5>Password</h5>
            </div>
            <div>
                <p-password [feedback]=false [toggleMask]=true placeholder="Password"></p-password>
            </div>
        </div>
        <div>
            <div class="buttonpanel flex align-content-center justify-content-end flex-wrap flex-column gap-3">
                <div class="flex align-content-center justify-content-center flex-wrap" style="color: darkred;">
                    <small>Failed to login, try again.</small>
                </div>
                <div class="flex justify-content-center">
                    <p-button label="Login" class="Lbutton"></p-button>
                </div>
                <div>
                    <small>If you not already registered. Click <a href="">here</a></small>
                </div>
            </div>
        </div>
    </div>
</div>