<div id="map" class="map"></div>

<p-sidebar [(visible)]="display" position="right" styleClass="p-sidebar-mg" [modal]="false">
    <h2>Info</h2>
    <h4>Type: {{landType}}</h4>
    <h5>from Wikipedia: </h5>
    <p>{{wikiContent}}</p>
</p-sidebar>

<mat-expansion-panel class="layerSelector">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Layers
    </mat-panel-title>
    <mat-panel-description>
      <mat-icon>map</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <section [formGroup]="form">
        <mat-checkbox formControlName="firstLevel" (ngModelChange)="changeLayer()">First Level</mat-checkbox>
        <mat-checkbox formControlName="secondLevel" (ngModelChange)="changeLayer()">Second Level</mat-checkbox>
        <mat-checkbox formControlName="points" (ngModelChange)="changeLayer()">Points</mat-checkbox>
    </section>
</mat-expansion-panel>

<mat-button-toggle-group *ngIf="actionPanelVisibility" [(ngModel)]="actionSelection" class="buttonToggle" (change)="changeNoteInteraction()" vertical="true">
    <mat-button-toggle value="create"><mat-icon>create</mat-icon></mat-button-toggle>
    <mat-button-toggle value="select"><mat-icon>search</mat-icon></mat-button-toggle>
    <mat-button-toggle value="delete"><mat-icon>delete</mat-icon></mat-button-toggle>
</mat-button-toggle-group>

<p-dialog header="Please enter your note below" [(visible)]="modalVisibility" [modal]="true" [closable]="false" [resizable]="false">
    <textarea pInputTextarea [(ngModel)]="inputText" placeholder="Notes.." rows="10" cols="60"></textarea>
    <ng-template pTemplate="footer">
        <p-button label="Cancel" styleClass="p-button-text" (click)="cancelNote()"></p-button>
        <p-button label="Save" styleClass="p-button-text" (click)="saveNote()"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Are you sure?" [(visible)]="deleteModalVisibility" [modal]="true" [closable]="false" [resizable]="false" [style]="{width: '50vw'}">
    <div class="textbox" [innerHTML]="deleteText"></div>
    <ng-template pTemplate="footer">
        <p-button label="No" styleClass="p-button-text" (click)="cancelDelete()" ></p-button>
        <p-button label="Yes" styleClass="p-button-text" (click)="delete()" ></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Note: " [(visible)]="readModalVisibility" [modal]="true" [resizable]="false" [closable]="true" [dismissableMask]="true" [style]="{width: '50vw'}">
    <div class="textbox" [innerHTML]="readText"></div>
</p-dialog>