#map {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.layerSelector{
    width: 200px;
    position: fixed;
    left: 20px;
    top: 20px;
}

.buttonToggle{
    left: 20px;
    top: 40vh;
}

.mat-button-toggle-standalone, .mat-button-toggle-group{
    flex-direction: column;
}

.mat-expansion-panel-header-description {
    justify-content: end;
    align-items: center;
}

.mat-expansion-panel-header.mat-expanded{
    height: 48px;
}

.mat-mdc-checkbox{
    height: 30px;
}

:host ::ng-deep .mat-expansion-panel-body {
    display: flex !important ;
    flex-direction: column;
    flex-wrap: wrap;
}

.drawStatusSelector{
    position: fixed;
    bottom: 150px;
    left: 20px;
    font-size: 10px;
}

.textbox{
    white-space: pre-wrap;
}

:host ::ng-deep .p-selectbutton .p-button{
    font-size:15px;
    padding: 11px;  
  }